Chimera/packages/
Chimera/Chimera/bin/Debug/Newtonsoft.Json.xml
Chimera/Chimera/obj/Debug/Chimera.csproj.FileListAbsolute.txt
Chimera/TreatyOfBabel/obj/Debug/TreatyOfBabel.csproj.FileListAbsolute.txt
Chimera/Chimera/bin/
